@charset "UTF-8";/*コンパイル無しで記載する緊急用CSS*/
.p-article table{
    width: 100%;
}
 .p-article th, .p-article td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
    /*white-space: nowrap;*/
  }
  
  .p-article table th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    background: #3f3f3f;

  }
  .p-article table td {
    padding: 10px;
    vertical-align: top;

  }