- var pageTitle = 'WWEページですよ'
include ./_include/head
include ./_include/header
link(rel="stylesheet",  href="assets/js/lib/slick/slick-theme.css")
link(rel="stylesheet",  href="assets/js/lib/slick/slick.css")
link(rel="stylesheet" href="assets/css/index.css")
script(src="assets/js/lib/slick/slick.min.js")
.container
    section#top.top
        .topleft
            .wwe
                img(src="assets/img/bnr/wweforest_01.jpg")
        .topright
            .wwe 
                a
                    .name
                        p.line TOPICS
                    
                        img(src="assets/img/upload/news01.jpg" alt="topics")
                    p.ttl あああああああ
            .wwetweet
                <a class="twitter-timeline" data-width="" data-height="220" data-theme="dark" href="https://twitter.com/WWEJapan?ref_src=twsrc%5Etfw">Tweets by WWEJapan</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 

    section#ad.ad
        p #ad.ad

    secctio#amz.clm1
        p #amz.clm1
    section#rss_jp.l-clm2
        .sec
            .ttl
                h3 NFL JAPAN RSS
                p: a(href="/rss-all/") 【RSS一覧へ】
            ul(role="list")
                li: a(rel="" href="/single.html" title="タイトル1") Single.html
                li: a(rel="" href="/list.html" title="タイトル1") list.html
                li: a(rel="" href="/rss-all.html" title="タイトル1") rss-all.html
                li いいい
                li いいい
                li いいい
        .sec
            .ttl
                h3 NFLファンブログ RSS
                p: a(href="/rss-all/?1") 【RSS一覧へ】
            ul(role="list")
                li いいい
                li いいい
                li いいい
                li いいい
                li いいい
    section.row-slider
        p Youtube
        .inner
            .lineup
                    ul.lineup-carousel.top10
                        li
                            a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news01.jpg" alt="ranking")
                            a(rel="/1" href="" title="タイトル1"): p RANK1
                        li
                            a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news02.jpg" alt="ranking")
                            a(rel="/1" href="" title="タイトル1"): p RANK2
                        li
                            a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news03.jpg" alt="ranking")
                            a(rel="/1" href="" title="タイトル1"): p RANK3
                        li
                            a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news04.jpg" alt="ranking")
                            a(rel="/1" href="" title="タイトル1"): p RANK4
                        li
                            a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news05.jpg" alt="ranking")
                            a(rel="/1" href="" title="タイトル1"): p RANK5
                        li
                            a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news01.jpg" alt="ranking")
                            a(rel="/1" href="" title="タイトル1"): p RANK6
                        li
                            a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news02.jpg" alt="ranking")
                            a(rel="/1" href="" title="タイトル1"): p RANK7
                        li
                            a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news03.jpg" alt="ranking")
                            a(rel="/1" href="" title="タイトル1"): p RANK8
    section#ad.ad
        p #ad.ad
    section.l-clm2
        .sec
            .ttl
                h3 海外ニュース RSS
                p: a(href="/rss-all/?1") 【RSS一覧へ】
            ul(role="list")
                li いいい
                li いいい
                li いいい
                li いいい
                li いいい
        .sec
            .ttl
                h3 関連TV    RSS
                p: a(href="/rss-all/?1") 【RSS一覧へ】
            ul(role="list")
                li いいい
                li いいい
                li いいい
                li いいい
                li いいい
    
include ./_include/footer