//header
#loading
  .spinner

header
    .header-contents
        .header-left
            .header-logo
                a(rel="" href="/" title="タイトル1"): img(src="assets/img/jets94-logo-header.svg")
            .header-menu
                include ./header_menu
        .header-right
            .header-sns
                ul
                    li: a(href="https://twitter.com/jetskyou" target="_blank"): i.fab.fa-twitter.fa-2x
                    li: a(href="https://www.facebook.com/jets94/" target="_blank"): i.fab.fa-facebook-square.fa-2x
                    li: a(href="https://www.youtube.com/channel/UCr3e1KBWNJAlI6Nc4nSpEjw" target="_blank"): i.fab.fa-youtube.fa-2x
            .header-search
                form(role="search" method="get")
                    input(type="text" id="search-text")
                    button(type="submit" value="&#xf002" class="fas") 
                        i(class="fas fa-search")
        span.btn-gnavi#js-hamburger
            span
            span
            span
        nav.gnavi#js-nav
            img(src="assets/img/jets94-logo-header.svg")
            .search
                    form(role="search" method="get")
                        input(type="text" id="search-text")
                        button(type="submit" value="&#xf002" class="fas") 
                            i(class="fas fa-search")
                    a(href="https://twitter.com/jetskyou" target="_blank"): i.fab.fa-twitter.fa-2x
                    a(href="https://www.facebook.com/jets94/" target="_blank"): i.fab.fa-facebook-square.fa-2x
                    a(href="https://www.youtube.com/channel/UCr3e1KBWNJAlI6Nc4nSpEjw" target="_blank"): i.fab.fa-youtube.fa-2x

            include ./header_menu

    div(id="fb-root")

//end header

