ul.accordion.empty  <!--メニューがズレるので必要-->
    li
        p &nbsp;
                    
ul.accordion        
    li.head
        a メインメニュー
        div.i_box: i.one_i
    ul.small-list
        li: a(href="/rss-all/") NFL応援RSS
        li: a(href="/article-all/") ニュース一覧
        li: a(href="/category/result-all/") 試合結果
        li: a(href="/wwe/") WWEの森
ul.accordion
    li.head
        a 速報リンク
        div.i_box: i.one_i
    ul.small-list
        li: a(href="http://www.nfl.com/scores" target="_blank") 速報：Score(スコア)
        li: a(href="https://nfljapan.com/broadcast" target="_blank") 放送予定(NFL JAPAN)
        li: a(href="https://nfljapan.com/standing/division" target="_blank") 順位表(NFL JAPAN) 
        li: a(href="https://www.youtube.com/user/NFL" target="_blank") Youtube(NFLハイライトなど)
        li: a(href="http://www.tsp21.com/sports/nfl/" target="_blank") TSP SPORTS -NFL-

ul.accordion        
    li.head
        a オリジナルコンテンツ
        div.i_box: i.one_i
    ul.small-list
        li: a(href="/wwe/") NFLを見る方法
        li: a(href="/rss-all/") オードリー春日の呪い
        li: a(href="/article-all/") 特集アイシールド21
        li: a(href="/superbowl-what/") スーパーボウルとは？
        li: a(href="/nfl-word/") アメフト用語集
        li: a(href="/penalty/") NFL反則集
        li: a(href="/wwe/") 読めない選手名検索
ul.accordion
    li.head
        a 人気のカテゴリ・タグ
        div.i_box: i.one_i
    ul.small-list
        li: a(href="/tag/そうだったのか！/") そうだったのか！(NFLトリビア)
        li: a(href="/tag/トム・ブレイディ/") トム・ブレイディ
        li: a(href="/tag/がっかり・オブ・ザ・イヤー/") がっかり・オブ・ザ・イヤー  
        li: a(href="/tag/映画/") 映画