//sidebar
section.ad
    p #ad.ad
section.side-list 
        .ttl
            h3 最新NEWS
            p: a(href="/rss-all/") 【一覧へ】
        ul
            li
                a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news01.jpg" alt="ranking")
                a(rel="/1" href="" title="タイトル1"): p RANK1
            li
                a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news02.jpg" alt="ranking")
                a(rel="/1" href="" title="タイトル1"): p RANK2
            li
                a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news03.jpg" alt="ranking")
                a(rel="/1" href="" title="タイトル1"): p RANK3
            li
                a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news04.jpg" alt="ranking")
                a(rel="/1" href="" title="タイトル1"): p RANK4
            li
                a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news05.jpg" alt="ranking")
                a(rel="/1" href="" title="タイトル1"): p RANK5 
section.side-list 
        .ttl
            h3 アクセスランキング
            p: a(href="/ranking-all/") 【一覧へ】
        ul
            li
                a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news01.jpg" alt="ranking")
                a(rel="/1" href="" title="タイトル1"): p RANK1
            li
                a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news02.jpg" alt="ranking")
                a(rel="/1" href="" title="タイトル1"): p RANK2
            li
                a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news03.jpg" alt="ranking")
                a(rel="/1" href="" title="タイトル1"): p RANK3
            li
                a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news04.jpg" alt="ranking")
                a(rel="/1" href="" title="タイトル1"): p RANK4
            li
                a(rel="/1" href="" title="タイトル1"): img(src="assets/img/upload/news05.jpg" alt="ranking")
                a(rel="/1" href="" title="タイトル1"): p RANK5 
section.amz-sidebar
    p #ad.amz
section.ad
    p #ad.ad
// end sidebar