footer {
  background-color: #115740;
  color: #fff;
  text-align: center;
}
/* 768px～：タブレット
------------------------------ */
/* 1080px〜：小型PC
------------------------------ */
/* 1280px〜：大型PC
------------------------------ */
/* 1500px〜：超大型PC
------------------------------ */
