section.top {
  margin-bottom: 5px;
}
.topleft {
  margin: 0 3px 5px 0;
  width: 100%;
  position: relative;
}
.topleft img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  border: 0;
}
.topleft .slider {
  margin: 0;
}
.topleft .slider p.ttl {
  display: none;
}
.topleft .slider .slick-current p.ttl {
  display: inline;
  background-color: rgba(0,113,142,0.5);
  bottom: 1px;
  padding: 10px 15px;
  position: absolute;
  width: 20%;
  overflow: hidden;
  color: #fff;
}
.name p.line {
  background-color: #043a27;
  color: #fff;
  font-weight: 700;
  padding: 10px 5px;
  position: absolute;
  top: 10px;
  width: 60%;
  z-index: 10;
}
.topright {
  border: 0;
}
.topright .topics {
  background-color: #fff;
}
.topright .topics,
.topright .wwe {
  position: relative;
}
.topright img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  border: 0;
  margin-bottom: -5px;
}
.topright p.ttl {
  display: inline;
  background-color: rgba(0,113,142,0.5);
  bottom: 1px;
  padding: 10px 10px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  color: #fff;
}
.topright .wwe {
  position: relative;
}
.topright .wwe img {
  height: 220px;
}
.topright .nextevent {
  padding-left: 0;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  padding: 5px;
  width: 100%;
  height: 200px;
}
.topright .nextevent dt {
  border-bottom: 1px solid #d9d9d9;
  margin: 0.3em 0 0;
  padding: 0 0.8em 0.3em 0;
  font-size: 70%;
}
.topright .wwetweet {
  padding-top: 5px;
  padding-left: 10px;
}
/*====================================================================
TOP slick
====================================================================*/
.topleft .slick-slide {
  margin: 0 1px;
}
.topleft .slick-prev,
.topleft .slick-next {
  z-index: 1;
}
.topleft .slick-prev:before,
.topleft .slick-next:before {
  color: #000;
}
.topleft .slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}
.topleft .slick-active {
  opacity: 1;
}
.topleft .slick-current {
  opacity: 1;
}
.topleft .thumb {
  overflow: hidden;
  margin: 2px 0 0;
}
.topleft .thumb img {
  height: 80px;
}
.topleft .thumb .slick-slide {
  cursor: pointer;
}
.topleft .thumb .slick-slide:hover {
  opacity: 0.7;
}
.topleft .thumb .slick-track {
  transform: unset !important;
}
.topleft .link-list {
  margin: 5px 0px;
}
/*====================================================================
TOP ranking
====================================================================*/
section>p {
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 10px 10px;
}
section.youtube .lineup-carousel .slick-arrow {
  height: 8px;
}
/*====================================================================
TOP sec
====================================================================*/
.sec {
  border: 1px solid #000;
  margin: 5px;
}
.ttl {
  display: flex;
  align-items: flex-end;
}
.ttl h3 {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #115740;
  color: #000;
}
.ttl p {
  margin-left: auto;
  padding: 10px;
}
.ttl ul li {
  border-bottom: 1px solid #e8e8e8;
  width: 95%;
}
.ttl a {
  padding-bottom: 6px;
}
section>.ttl h3 {
  font-weight: 700;
  margin: 20px 0 10px 2px;
  border-left: 5px solid #108f62;
  padding: 5px 3px 5px 10px;
}
section>.ttl a {
  padding-bottom: 10px;
}
/*====================================================================
TOP other
====================================================================*/
#twitter-widget-0 {
  width: 95% !important;
}
/*====================================================================
TOP link-croud
====================================================================*/
.link-croud h4 {
  font-size: 16px;
  margin: 5px 0 10px 0;
  font-weight: bold;
}
.link-croud li {
  padding: 5px;
}
.link-croud li a {
  background: #6f885a;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1em;
  margin-top: 3px;
  margin-left: 1px;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}
/* 768px～：タブレット
------------------------------ */
@media screen and (min-width: 768px) {
  .topleft .slider .slick-current p.ttl {
    width: 100%;
  }
}
/* 1080px〜：小型PC
------------------------------ */
@media screen and (min-width: 1080px) {
  section.top {
    display: flex;
  }
  .topleft {
    width: 70%;
  }
  .topleft img {
    height: 461px;
  }
  .topright {
    width: 30%;
  }
  .topright .nextevent {
    height: 61%;
  }
  .topright .nextevent dt {
    font-size: 75%;
  }
}
/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width: 1280px) {
  .topright .nextevent {
    height: 54%;
  }
  .topright .nextevent dt {
    font-size: 90%;
  }
}
/* 1500px〜：超大型PC
------------------------------ */
@media screen and (min-width: 1600px) {
  .topright .nextevent {
    height: 40%;
  }
  .topright .nextevent dt {
    font-size: 90%;
  }
}
