base-color = #115740



/* 768px～：タブレット
------------------------------ */
@media screen and (min-width: 768px) {

}
  
/* 1080px〜：小型PC
------------------------------ */
@media screen and (min-width:1080px){

}
  
/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1280px){

}

/* 1500px〜：超大型PC
------------------------------ */
@media screen and (min-width:1600px){

}


