base-color = #115740
second-color = #108f62


section.side-list 
    .ttl
        display flex
        border-bottom 1px solid #28433A
        h3
            font-size 1.5rem
            color second-color 
            padding-bottom 10px
            margin 5px 0
        p
            margin-left auto
            padding-top 10px
    ul
        margin 0px 0px 
        padding 0px 5px
    li
        display flex
        clear: both;
        font-size: 1.0rem;
        border-bottom: 1px solid #e8e8e8;
        float: none;
        padding: 8px 0;
        img 
            display: block;
            margin 5px 5px 1px 0px
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: 50% 50%;
            border: 0;
        p
            line-height: 1.5rem;
            margin-bottom: 1.5rem;
            letter-spacing: 0;
.amz-sidebar ul li img 
    margin-left auto
    margin-right auto
    text-align center
    width 300px
    // height 200px
    object-fit cover 
    object-position 50% 50%;
    border: 0
.amz-sidebar ul li
    text-align: center

/* 768px～：タブレット
------------------------------ */
@media screen and (min-width: 768px) {

}
  
/* 1080px〜：小型PC
------------------------------ */
@media screen and (min-width:1080px){

}
  
/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1280px){

}

/* 1500px〜：超大型PC
------------------------------ */
@media screen and (min-width:1600px){

}


