base-color = #115740
second-color = #108f62
list-line-color = #e8e8e8
name-color = #0000ff

.u-base-color
    color: base-color!important

.u-second-color
    color:second-color!important

.u-list-line-color
    color:list-line-color!important

.u-font-bold
    font-weight: bold!important

.u-name-color
	color:name-color!important
// 左
.u-text-left
	text-align: left!important


// 中央
.u-text-center
	text-align: center!important

// 右
.u-text-right 
	text-align: right!important


// 均等割り付け
.u-text-justify 
	text-align: justify!important
	text-justify: inter-ideograph!important

//送信ボタン
.u-button-search
	display       : inline-block;
	border-radius : 20%;          /* 角丸       */
	font-size     : 16pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 4px 4px;   /* 余白       */
	background    : #003300;     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
	border        : 2px solid #003300;    /* 枠の指定 */

.u-button-search:hover
	box-shadow    : none;        /* カーソル時の影消去 */
	color         : #003300;     /* 背景色     */
	background    : #ffffff;     /* 文字色     */
.u-ttl>h4
	position: relative
	font-size: 20px
	font-weight: bold
	padding: 10px 15px
	margin-bottom: 1em
	color: #ffffff
	border-radius: 10px
	background: #1A1A1A
.u-ttl>h4::after 
	position: absolute
	content: ''
	left: 1em
	bottom: -28px
	width: 0
	height: 0
	border-top: 15px solid #1A1A1A
	border-right: 15px solid transparent
	border-left: 15px solid transparent
	border-bottom: 15px solid transparent
section>.ttl h3 
  font-size: 20px
  font-weight: 500
  margin: 20px 0 10px 2px
  border-left: 5px solid #108f62
  padding: 5px 3px 5px 10px



/* 768px～：タブレット
------------------------------ */
@media screen and (min-width: 768px) {

}
  
/* 1080px〜：小型PC
------------------------------ */
@media screen and (min-width:1080px){

}
  
/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1280px){

}

/* 1500px〜：超大型PC
------------------------------ */
@media screen and (min-width:1600px){

}


